.input:checked + .label > .line {
    background-color: transparent;
}

.input:checked + .label::after {
    transform: rotate(45deg);
}

.input:checked + .label::before {
    transform: rotate(-45deg);
}